.ImageLabel {
  position: absolute;
  left: 0;
  top: 0;

  &__input {
    color: red;
    border: none;
    position: absolute;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }
}